/* ====Hero==== */
.hero {
  color: var(--main-background-color);
  background-color: var(--hero-background-color);
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
/* ====End hero=== */

/*====Features==== */
.feature-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.feature-text {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
/*----End features---- */

/* ---what we do--- */
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* ---end what we do--- */

/* == Our team === */ 
.team {
  background-color: var(--secondary-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.member-card {
  background-color: var(--main-background-color);
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.member-position {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
/* === end our team === */
